.button {
  border: none;
  display: block;
  padding: 16px;
  text-align: center;
  color: @third-color;
  background-color: @second-background;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: @second-background-hover;
  }

  &:active {
    background-color: @second-background-active;
    color: @third-color-active;
  }

  &:disabled,
  &:disabled:active {
    color: @third-color;
    background-color: @disabled-backround;
  }
}
