.find-hotel {
  padding-top: 42px;
  padding-bottom: 10px;
  text-transform: uppercase;

  br:nth-of-type(2) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;

    .container--index-page {
      width: 458px;
      margin-left: auto;
      margin-right: auto;
    }

    br {
      display: none;

      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}

.find-hotel__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @second-color;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-top: 18px;
  }
}

.find-hotel__description {
  margin: 0;
  margin-top: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 32px;
  }
}

.find-hotel__button {
  margin-top: 32px;

  @media (min-width: @tablet-width) {
    margin-top: 42px;
  }
}

.find-hotel__map {
  display: block;
  margin-top: 49px;
  height: 350px;
  background-color: green;

  @media (min-width: @tablet-width) {
    margin-top: 58px;
  }
}
