.index-reasons {
}

.index-reasons__for-bacground-image {
  position: relative;
  min-height: 388px;
  background-image: url("../img/index-intro/index-intro@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.index-reasons__under-intro-background {
  position: absolute;
  bottom: 0;
  right: 50%;

  &--right {
    left: 50%;
    transform: scale(-1, 1);
    fill: rgb(14, 211, 119);
  }
}
