// .index-reasons {
// }

.index-reasons__for-bacground-image {
  position: relative;
  min-height: 388px;
  background-image: url("../img/page-index/index-intro/index-intro-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.index-reasons__under-intro-background {
  position: absolute;
  bottom: -1px;
  right: 50%;

  &--right {
    left: 50%;
    transform: scale(-1, 1);
    fill: rgb(14, 211, 119);
  }
}

.index-reasons__standard-title-description {
  margin-top: -4px;
}

.index-reasons__photo-wrapper {
  display: flex;
  justify-content: center;
}

.index-reasons__photo {
  object-fit: cover;
  max-width: 100%;
  height: 260px;
  min-height: 100%;
}
