.intro {
  height: 214px;
  background-image: url("../img/intro/intro-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -56px;
  z-index: -4;
}
