.page-form .intro__text {
  @media (min-width: @tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 97px;
  }
}

.page-form .standard-title-description__description {
  @media (min-width: @tablet-width) {
    width: 435px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    margin-top: 32px;
  }
}
