.page-footer__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @second-color;
  display: flex;
  justify-content: center;

  &:visited {
    color: @second-color;
  }
}

.page-footer__social-links-list {
  .list-reset();
  margin-top: 34px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 48px);
  gap: 6px;
}

.page-footer__social-link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: @second-background;
}

.page-footer__social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.page-footer__copyright-text {
  text-transform: uppercase;
  color: @second-color;
}

.page-footer__copyright-logo {
  margin-left: 12px;
}
