.user-form__fieldset-wrapper {
  padding: 24px 0;

  @media (max-width: (@tablet-width - 1)) {
    border-top: 1px solid @user-fieldset-border-top;
  }
}

.user-form__user-and-contacts {
  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      left: 50%;
      transform: translate(-50%, 0);
      top: 78px;
      bottom: 10px;
      background-color: @user-and-contacts-separate;

      @media (min-width: @desktop-width) {
        top: 44px;
        bottom: 8px;
        left: 493px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 20px;

    .user-form__legend {
      margin-left: 6px;
    }
  }
}

.user-form__contacts {
  @media (max-width: (@tablet-width - 1)) {
    margin-top: 16px;
  }

  @media (min-width: @tablet-width) {
    & .user-form__label-around-text-input {
      margin-left: auto;
    }
  }

  .user-form__label-around-text-input {
    @media (min-width: @desktop-width) {
      width: 402px;
    }
  }
}

.user-form__impressions {
  margin-top: 8px;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 23px;
  }
}

.user-form__attractions {
  padding-top: 25px;

  @media (min-width: @desktop-width) {
    margin-top: 26px;
  }
}

.user-form__emotions {
  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 18px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 46px;
  }
}

.user-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.user-form__legend-tablet-wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      top: 50%;
      background-color: @user-and-contacts-separate;
      z-index: -1;

      @media (min-width: @desktop-width) {
        top: 42%;
      }
    }
  }
}

.user-form__legend {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @second-color;

  @media (min-width: @tablet-width) {
    font-size: 21px;

    &--tablet {
      width: 402px;
      background-color: @main-background;
    }
  }
}

.user-form__inputs-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-top: 6px;
  }
}

.user-form__radio-wrapper {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 6px;
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: 1fr 1fr;
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 53px;
    padding-right: 53px;
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.user-form__checkboxes-wrapper {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 6px;
    display: grid;
    row-gap: 16px;
    column-gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-top: 18px;
    padding-left: 84px;
    padding-right: 84px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 44px;
    padding-right: 44px;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.user-form__label-text {
  text-transform: uppercase;
  margin-left: 16px;
}

.user-form__label-around-text-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    width: 280px;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.user-form__text-input {
  border: none;
  padding: 0 16px;
  width: 100%;
  height: 58px;
  background-color: @text-input-background;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @second-color;
  vertical-align: top;

  &::placeholder {
    color: fade(@second-color, 30%);
  }

  &--phone-and-email::placeholder {
    color: fade(@second-color, 30%);
  }

  &--phone-and-email {
    padding-right: 58px;
  }

  &:hover {
    background-color: @text-input-background-hover;
  }

  &:focus {
    outline: 2px solid @current-color;
  }

  &:active {
    background-color: @main-background;
    outline: 4px solid @user-fieldset-border-top;
    outline-offset: -4px;
  }
}

.user-form__back-input-icon {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  background-color: @input-icon-back;
  bottom: 0;
  right: 0;
}

.phone-and-email-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 20px;
  right: 20px;
}

.user-form__label-around-radio-checkbox {
  cursor: pointer;

  &:not(:first-child) {
    @media (max-width: (@tablet-width - 1)) {
      margin-top: 16px;
    }
  }

  display: flex;
  align-items: center;

  &:hover .user-form__custom-checkbox,
  &:hover .user-form__custom-radio {
    background-color: @text-input-background-hover;
  }


  &:active .user-form__custom-checkbox,
  &:active .user-form__custom-radio {
    background-color: @text-input-background-active;
  }

  &:active .user-form__radio {
    &:checked ~ .user-form__custom-radio::before {
      background-color: fade(@main-color, 30%);
    }
  }

  .user-form__checkbox-input:disabled + .user-form__custom-checkbox,
  .user-form__radio:disabled + .user-form__custom-radio {
    background-color: fade(@text-input-background, 30%);
  }

  .user-form__checkbox-input:checked:disabled + .user-form__custom-checkbox > .user-form__checkbox-bird {
    fill: fade(@main-color, 30%);
  }

  .user-form__radio:checked:disabled + .user-form__custom-radio::before {
    background-color: fade(@main-color, 30%);
  }
}

.user-form__radio-and-checkbox-descroption {
  margin-left: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @second-color;
}

.user-form__radio,
.user-form__checkbox-input {
  position: absolute;
  appearance: none;
}

.user-form__radio {
  &:checked ~ .user-form__custom-radio::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: @main-color;
  }
}

.user-form__custom-checkbox,
.user-form__custom-radio {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: @text-input-background;
  flex-shrink: 0;
}

.user-form__custom-radio {
  border-radius: 50%;
}

.user-form__checkbox-input {
  &:checked + * .user-form__checkbox-bird {
    fill: @main-color;
  }

  &:checked:active + * .user-form__checkbox-bird {
    fill: rgba(51, 51, 51, 0.3);
  }
}

.user-form__custom-checkbox {
  border-radius: 4px;
}

.user-form__checkbox-bird {
  fill: transparent;
  position: absolute;
  width: 22px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-form__textarea-and-button {
  @media (min-width: @desktop-width) {
    position: relative;
    width: 768px;
    margin: 0 auto;
  }
}

.user-form__describe-emotions {
  margin-top: 14px;
  width: 100%;
  height: 150px;
  padding: 16px;
  resize: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;
  background-color: @text-input-background;

  &::placeholder {
    color: fade(@second-color, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-top: 24px;
    height: 160px;
  }

  &:hover {
    background-color: @text-input-background-hover;
  }

  &:focus {
    outline: 2px solid @current-color;
  }

  &:active {
    background-color: @main-background;
    outline: 4px solid @user-fieldset-border-top;
    outline-offset: -4px;
  }
}

.user-form__button {
  margin-top: 52px;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: 41px;
    width: 50%;
  }
}

.user-form__description-about-required-inputs {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  margin-top: 2px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    bottom: 38px;
    font-size: 14px;
    line-height: 21px;
  }

  @media (min-width: @desktop-width) {
    bottom: 14px;
  }
}
