.user-form__fieldset-wrapper {
  padding: 24px 0;
  border-top: 1px solid @user-fieldset-border-top;
}

.user-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  .default-padding();
}

.user-form__legend {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @second-color;
}

.user-form__inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.user-form__label-text {
  text-transform: uppercase;
  margin-left: 16px;
}

.user-form__label-around-text-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.user-form__text-input {
  border: none;
  padding: 16px;
  background-color: @text-input-background;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @second-color;

  &::placeholder {
    color: @second-color;
  }

  &--phone-and-email::placeholder {
    color: fade(@second-color, 30%);
  }

  &--phone-and-email {
    padding-right: 58px;
  }
}

.phone-and-email-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 20px;
  right: 20px;
}

.user-form__label-around-radio-checkbox {
  &:not(:first-child) {
    margin-top: 16px;
  }

  display: flex;
  align-items: center;
}

.user-form__radio-and-checkbox-descroption {
  margin-left: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @second-color;
}

.user-form__radio,
.user-form__checkbox-input {
  position: absolute;
  appearance: none;
}

.user-form__radio {

}

.user-form__checkbox-input {
  &:checked + .user-form__custom-checkbox {
    background-image: url("../img/form/checkbox-bird.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 16px;
  }

  &:checked:active + .user-form__custom-checkbox {
    background-image: url("../img/form/checkbox-bird-disabled.svg");
  }
}

.user-form__custom-checkbox {
  width: 46px;
  height: 46px;
  background-color: @text-input-background;
  border-radius: 4px;

  flex-shrink: 0;
}
