.wrapper {
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin-left: auto;
    margin-right: auto;
  }
}
