@main-color: #333333;
@second-color: #000000;
@third-color: #ffffff;
@current-color: #766357;

@main-background: #ffffff;
@second-background: #81B3D2;
@third-background: #EEEEEE;

@other-reason-border: #D6D6D6;
@user-fieldset-border-top: #E5E5E5;
@user-and-contacts-separate: #DBDBDB;

@text-input-background: #F2F2F2;
@text-input-background-hover: @user-fieldset-border-top;
@text-input-background-active: #D5D5D5;

@input-icon-back: #E6E6E6;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
