@main-color: #333333;
@second-color: #000000;
@third-color: #ffffff;
@main-background: #ffffff;
@second-background: #81B3D2;
@third-background: #EEEEEE;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
